#bottom_menu{
  /*margin-right: 5vw;*/
	position: fixed;
	right: 0;
	bottom: 0;
	width: 20%;
	color: white;
	text-align: right;
	background-color:grey;
	
	margin-bottom:1vh;
	margin-right:1vw;
	
	padding:5px;
}
#heart_img{
    width: 5vmin;
    height: 5vmin;
}
a{
    color: black;
}
